li {
  list-style-type: none;
}

/* Button.active-btn {
  background: #ff7b77;
}
Button.active-btn:hover {
  background: #ffd0c4;
}

Button:not(.active-btn):hover {
  transform: translateX(3px);
} */

.row-background {
  background: #ebc9d1;
  border: none;
  min-width: 320px;
  width: 90%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
