li {
  list-style-type: none;
}

.row-background {
  background: #ebc9d1;
  border: none;
  min-width: 320px;
  width: 90%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.profil {
  text-decoration: none;
}
